*{
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: Arial, sans-serif;
  background-image: url(https://mvmaudio.olk1.com/Vertical/vertical.jpg);
  margin: 0;
}
.container{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.audio-player, #playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: fit-content;
  margin: 0;
  padding: 0;
}
#playlist{
  background: #fff;
}

audio{
  width: 100%;
  display: none;
}
.controls{
  margin: 5px 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  gap: 1rem;
}
#playPauseBtn{
  width: fit-content;
  color: white;
  text-align: center;
  margin: 4px 0 0;
  padding: 24px;
  background-image: url(/play.svg);
  background-repeat: no-repeat;
}
#playPauseBtn.playPauseBtnPause{
  background-image: url(/pause.svg);
  background-repeat: no-repeat;
}


.cover-art{
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: brightness(1.1);
  background-image: url(https://mvmaudio.olk1.com/Vertical/vertical.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
}

/* JS / PLAYER */
.wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  padding: 0 5px;
  background: #ff00ff11;
  margin: 0 0 1px;
  transition: all 0.1s linear 0s;
}
.wrapper:hover {
  background: #ff00ff55;
}
.wrapper.active{
  background: #ff00ff;
  transition: all 0.1s ease-in 0s;
}
.trackName, .trackDuration{
  padding: 4px;
  background: #ff00ff;
}


/*  LOOPS */
.loop-track-btn, .loop-all-btn{
  padding: 0px;
  font: .9rem/1rem sans-serif;
  line-height: 1.2rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  color: #5e5e5e;
  background-image: none !important;
  outline: none;
  border: 1px solid transparent;
  text-shadow: none;
  box-shadow: none;
}
.loop-track-btn{
  display: inline-block;
  position: relative;
  z-index: 100;
  background-color: white;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  line-height: 1.8rem;
  margin-top: 15.3px;
  margin-left: auto;
  margin-right: 30%;
  transition: all 0.1s linear 0s;
}
.loop-track-btn.loop-track-btn-active{
  background-color: black;
  color: white;
  transition: all 0.1s ease-in 0s;
}

.loop-all-btn{
  display: block;
  margin: 0 0 1px;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  border: 1px solid #ff00ff;
  color: black;
  background: #fff;
  transition: all 0.1s linear 0s;
}
.loop-all-btn-active{
  background-color: #111;
  border: 1px solid transparent;
  color: white;
  transition: all 0.1s ease-in 0s;
}



.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: #ff00ff;
  margin-top: 0px;
}
.info img{
  width: 100px;
  height: 100px;
  padding: 8px;
}
.meta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.meta p{
  margin: 0;
  margin-bottom: 1px;
  margin-left: 8px;
  padding: 4px;
  font-size: 16px;
  background: white;
  color: #ff00ff;
}